.some-page-wrapper {
  display: flex;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  height: 150px;
  border: 1px solid grey;
}

.player1 {
  background-color: #405bb2;
}

.player2 {
  background-color: #e93539;
}

body {
  width: 400px;
}
